@use '_variable' as variable;

:root {
    --primary-color: #00D9AA;
    --on-primary: #FFFFFF;
    --secondary-color: #ffcc00;
    --error: #EA5455;
    --grey-50: #FAFAFA;
    --grey-100: #F8F8F8;
    --grey-200: #EEEEEE;
    --grey-300: #E0E0E0;
    --grey-400: #BDBDBD;
    --grey-500: #9E9E9E;
    --grey-600: #757575;
    --grey-700: #616161;
    --grey-800: #424242;
    --grey-900: #212121;
    --border-color: #E1E1E1;
    --border-radius: 8px;
}

.container {
    margin: 0 auto;
    padding: 0 24px;
    max-width: variable.$max-width-container;
}