@import '_variable';

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

@mixin after-pseudo-effect() {
  &:hover {
    position: relative;

    &::after {
      position: absolute;
      border-radius: inherit;
      background: rgba(255, 255, 255, .3);
      block-size: 100%;
      content: '';
      inline-size: 0;
      inset: 0;
      opacity: 1;
      animation: left-right 0.2s ease-in-out forwards;
      z-index: 0;
    }
  }
}

@keyframes left-right {
  0% {
    inline-size: 0;
  }

  100% {
    inline-size: 100%;
  }
}
