@use '_variable' as variable;

// gap utility class
@each $name, $size in variable.$gap {
  .gap-#{$name} {
    gap: $size;
  }

  .gap-x-#{$name} {
    column-gap: $size;
  }

  .gap-y-#{$name} {
    row-gap: $size;
  }
}

// Generate margin utility classes
@each $name, $size in variable.$margin {
  .mt-#{$name} {
    margin-top: $size;
  }

  .mb-#{$name} {
    margin-bottom: $size;
  }

  .ml-#{$name} {
    margin-left: $size;
  }

  .mr-#{$name} {
    margin-right: $size;
  }

  .mx-#{$name} {
    margin-left: $size;
    margin-right: $size;
  }

  .my-#{$name} {
    margin-top: $size;
    margin-bottom: $size;
  }
}
