$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$max-width-container: 1280px;

@function map-deep-merge($map1, $map2) {
    $merged: ();
  
    @each $key, $value in $map1 {
      $merged: map-merge($merged, ($key: $value));
    }
  
    @each $key, $value in $map2 {
      @if map-has-key($merged, $key) {
        @if type-of(map-get($merged, $key)) == map {
          $merged: map-merge($merged, ($key: map-deep-merge(map-get($merged, $key), $value)));
        } @else {
          $merged: map-merge($merged, ($key: $value));
        }
      } @else {
        $merged: map-merge($merged, ($key: $value));
      }
    }
  
    @return $merged;
  }

// gap utility class
$gap: () !default;
$gap: map-deep-merge(
  (
    '0': 0,
    '1': 0.25rem,
    '2': 0.5rem,
    '3': 0.75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '7': 1.75rem,
    '8': 2rem,
    '9': 2.25rem,
    '10': 2.5rem,
    '11': 2.75rem,
    '12': 3rem,
    '14': 3.5rem,
    '16': 4rem,
    '20': 5rem,
    '24': 6rem,
    '28': 7rem,
    '32': 8rem,
    '36': 9rem,
    '40': 10rem,
    '44': 11rem,
    '48': 12rem,
    '52': 13rem,
    '56': 14rem,
    '60': 15rem,
    '64': 16rem,
    '72': 18rem,
    '80': 20rem,
    '96': 24rem,
  ),
  $gap
);

// Define margin utility class
$margin: () !default;
$margin: map-deep-merge(
  (
    'auto': auto,
    '0': 0,
    '1': 0.25rem,
    '2': 0.5rem,
    '3': 0.75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '7': 1.75rem,
    '8': 2rem,
    '9': 2.25rem,
    '10': 2.5rem,
    '11': 2.75rem,
    '12': 3rem,
    '14': 3.5rem,
    '16': 4rem,
    '20': 5rem,
    '24': 6rem,
    '28': 7rem,
    '32': 8rem,
    '36': 9rem,
    '40': 10rem,
    '44': 11rem,
    '48': 12rem,
    '52': 13rem,
    '56': 14rem,
    '60': 15rem,
    '64': 16rem,
    '72': 18rem,
    '80': 20rem,
    '96': 24rem,
  ),
  $margin
);