<script lang="ts" setup>
import { moveItemTo } from '@core/utils/helper'
import type { ProductRequestDTO } from '@/types/product.type'
import { useProductStore } from '@/stores/product'
import { useToast } from 'vue-toastification'
import type { DirectionEnum } from '@/types/enum.type'
import type { FileUpload } from '@/types/file-upload.type'
import { randomId } from '@core/utils/random'

const toast = useToast()
const useProduct = useProductStore()
const isLoading = ref(false)
const images = ref<FileUpload[]>([])

const onHandleFile = (files: File[]) => {
  console.log('onHandleFile', files)
  if (files && files.length) {
    for (const file of files) {
      const fileReader = new FileReader()

      fileReader.readAsDataURL(file)
      fileReader.onload = () => {
        if (typeof fileReader.result === 'string') {
          images.value.push({
            id: randomId(),
            url: fileReader.result
          })
        }
      }
    }
  }
}

const onMoveItem = (direction: DirectionEnum, index: number) => {
  try {
    images.value = moveItemTo(direction, images.value, index)
  } catch (error) {
    console.log(error)
  }
}

const onRemoveImage = (id: string) => {
  if (!id) return
  images.value = images.value.filter((item: FileUpload) => item.id !== id)
}

const onSubmit = async () => {
  isLoading.value = true
  try {
    const body: ProductRequestDTO[] = images.value.map((el: FileUpload) => ({
      id: el.id,
      url: el.url
    }))
    await useProduct.create(body)
    toast.success('Upload successfully')
  } catch (error) {
    toast.error('Server error')
  } finally {
    isLoading.value = false
  }
}
</script>

<template>
  <div class="container">
    <div class="product">
      <div class="product__left">
        <h4>商品写真</h4>
      </div>
      <div class="product__right">
        <UploadImage @onFileSelected="onHandleFile" draggable class="product__dropzone" />

        <div v-if="images.length > 0" class="product__items">
          <template v-for="(img, index) in images" :key="img.id">
            <ProductItem
              @onRemove="onRemoveImage"
              @onMoveItem="(e) => onMoveItem(e, index)"
              :image="img"
            />
          </template>
        </div>
        <div class="product__action mt-4">
          <Button
            @click="onSubmit"
            type="button"
            :loading="isLoading"
            :disabled="!images.length || isLoading"
            class="product__btn-save mt-4"
            color="primary"
            variant="flat"
            title="保存"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@use '@styles/_variable.scss' as variable;
@use '@styles/_mixins.scss' as mixins;
.product {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__left {
    flex: 1 0 260px;
    padding: 16px;
    background: var(--grey-100);
    border-radius: var(--border-radius);
    min-height: 150px;

    h4 {
      margin: 0;
    }
  }

  &__right {
    inline-size: 100%;
    margin-inline: auto;
  }

  &__items {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 16px;
    border-radius: var(--border-radius);
    background: var(--grey-100);
  }

  &__item {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
  }

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-save {
    width: 500px;
  }

  @include mixins.respond-to(sm) {
    flex-direction: row;
    &__left {
      inline-size: 260px;
      min-height: 600px;
    }

    &__right {
      inline-size: calc(100% - 276px);
    }
  }
}
</style>
