<script setup lang="ts">
defineProps<{
  title?: string
  prependIcon?: string
  loading?: boolean
  size?: number
  color?: 'primary' | 'error' | 'warning' | 'secondary'
  variant?: 'flat' | 'outlined'
}>()
</script>

<template>
  <button
    class="button"
    v-bind="{
      ...$attrs,
      'data-color': color || 'default',
      'data-variant': variant || 'flat'
    }"
    :style="{ width: size ? `${size}px` : '' }"
  >
    <div class="button__content" :class="{ loading: loading }">
      <div v-if="loading" class="loading"></div>
      <template v-else>
        <Icon v-if="prependIcon" :name="prependIcon" />
        <label v-if="title">{{ title }}</label>
      </template>
    </div>
  </button>
</template>

<style lang="scss" scoped>
@use '@styles/_mixins.scss' as mixins;
.button {
  position: relative;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  background: var(--grey-100);
  outline: none;
  border: none;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
  @include mixins.after-pseudo-effect;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
    z-index: 1;
    .loading {
      width: 20px;
      height: 20px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-top-color: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      animation: spin 1s linear infinite;
      display: inline-block;
    }
  }

  &:disabled {
    opacity: 0.5;
    &:hover {
      cursor: no-drop;
      &:after {
        display: none;
      }
    }
  }
}

[data-color='primary'] {
  background: var(--primary-color);
  color: var(--on-primary);
}

[data-color='secondary'] {
  background: var(--grey-100);
}

[data-variant='flat'] {
  outline: none;
  border: none;
}

[data-variant='outlined'] {
  outline: none;
  border: 1px solid #d8d8d8;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
</style>
