<script setup lang="ts">
import { DirectionEnum } from '@/types/enum.type'

interface Image {
  url: string
  id: string
}
defineProps<{
  image: Image
}>()

interface Emit {
  (e: 'onRemove', value: string): void
  (e: 'onMoveItem', value: DirectionEnum): void
}

const direction = DirectionEnum

const emit = defineEmits<Emit>()

const refMenu = ref<any>(null)
const isSetting = ref(false)

const handleClickOutside = (event: Event) => {
  if (refMenu.value && !refMenu.value.contains(event.target)) {
    isSetting.value = false
  }
}

const onHandleMoveItem = (direction: DirectionEnum) => {
  isSetting.value = false
  emit('onMoveItem', direction)
}

onMounted(() => {
  document.addEventListener('click', handleClickOutside)
})
</script>

<template>
  <div class="product__item">
    <template v-if="image">
      <div @click.stop="isSetting = !isSetting" class="product__item__setting">設定</div>
      <div v-if="isSetting" ref="refMenu" class="product__item__menu">
        <div class="gap-1" @click="onHandleMoveItem(direction.LEFT)">
          <Icon name="arrow_narrow_left" />左へ移動
        </div>
        <div class="gap-1" @click="onHandleMoveItem(direction.RIGHT)">
          <Icon name="arrow_narrow_right" />右へ移動
        </div>
        <div class="trash gap-1" @click="emit('onRemove', image.id)">
          <Icon name="trash" />画像を削除
        </div>
      </div>
      <img :src="image.url" />
    </template>
  </div>
</template>

<style lang="scss" scoped>
.product__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  position: relative;
  padding: 2px;

  &__setting {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    cursor: pointer;
    box-shadow:
      0 2px 8px rgba(47, 43, 61, 0.3),
      0 0 transparent,
      0 0 transparent;

    > div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 4px 0;
      &.trash {
        color: var(--error);
      }
      &:hover {
        color: var(--primary-color);
      }
      &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
      }
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
</style>
