<script setup lang="ts">
import { MAX_SIZE_IMAGE, MIN_SIZE_IMAGE } from '@core/constant';
import { isValidImageFile, isValidMaxImageSize, isValidMinImageSize, isValidTypeImageFile } from '@core/utils/helper';
import { useToast } from 'vue-toastification'

const toast = useToast()
defineProps<{
  draggable?: boolean
}>()

interface Emit {
  (e: 'onFileSelected', value: File[]): void
}

const emit = defineEmits<Emit>()

const fileInput = ref<HTMLInputElement>()

const onHandleDrop = (event: DragEvent) => {
  event.preventDefault()
  const files = event.dataTransfer?.files
  if (files) {
    handleFiles(Array.from(files))
  }
}

const onHandleInputFileChange = (file: Event) => {
  const { files } = file.target as any
  if (files) {
    handleFiles(files)
  }
}

const handleFiles = (files: File[]) => {
  try {
    for (const file of files) {
      if (!isValidImageFile(file)) {
        if (!isValidTypeImageFile(file)) {
          toast.error(`Invalid file format: ${file.name}`)
          return
        }

        if (!isValidMinImageSize(file)) {
          toast.error(
            `Please upload images larger than ${MIN_SIZE_IMAGE}Kb: File name ${file.name}`
          )
          return
        }

        if (!isValidMaxImageSize(file)) {
          toast.error(
            `Please upload images smaller than ${MAX_SIZE_IMAGE}Mb: File name ${file.name}`
          )
          return
        }
      }
    }
    console.log('onFileSelected', files)

    emit('onFileSelected', files)
  } catch (error) {
    console.log('onFileSelectedError', error)
  }
}
</script>

<template>
  <div class="upload">
    <div
      v-if="draggable"
      class="upload__dropzone"
      @dragover.prevent
      @dragenter.prevent
      @dragleave.prevent
      @drop="onHandleDrop"
    >
      <div class="upload__dropzone__description">
        <p>クリックしてファイルを選択<br />またはここに写真をドラッグアンドドロップします</p>
      </div>
    </div>
    <div class="upload__select mt-4 mb-4">
      <Button
        @click="fileInput?.click()"
        color="secondary"
        variant="outlined"
        prepend-icon="folder"
        title="ファイルを選択する"
      />
      <input
        @input="onHandleInputFileChange"
        type="file"
        multiple
        accept="image/png, image/jpeg"
        ref="fileInput"
        style="display: none"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@use '@styles/_variable.scss' as variable;
@use '@styles/_mixins.scss' as mixins;
.upload {
  display: flex;
  flex-direction: column;
  &__dropzone {
    display: none;
    @include mixins.respond-to(lg) {
      display: flex;
    }
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 16px;
    border-radius: var(--border-radius);
    background: var(--grey-100);
    min-height: 200px;
    border: 1px dashed var(--grey-500);

    &__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > p {
        text-align: center;
      }
    }

    &__select {
      .button {
        height: auto;
        padding: 6px 12px;
        font-size: 12px;
        border-radius: 4px;
        border-color: #999;
      }
    }
  }
}
</style>@/core/constant../core/utils/helper
