<template>
    <svg class="svg_defs" height="0" version="1.1" viewBox="0 0 0 0" width="0" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <!-- blank -->
        <symbol id="icon_blank" viewBox="0 0 96 96">
            <circle cx="48" cy="48" fill="none" r="45" stroke="#aaa" stroke-width="10px"/>
        </symbol>
        
        <!-- settings -->
        <symbol id="icon_settings" viewBox="0 0 96 96">
          <path clip-rule="evenodd"
                d="M81.1 52.37a32.48 32.48 0 0 0 .2-7 3.38 3.38 0 0 1 1.27-2.95l8.03-6.31a2.27 2.27 0 0 0 .52-2.9l-9-15.55a2.27 2.27 0 0 0-2.75-.97l-9.44 3.8a3.36 3.36 0 0 1-3.17-.36c-1.43-1-2.94-1.88-4.51-2.64a3.38 3.38 0 0 1-1.9-2.57l-1.4-10.05A2.34 2.34 0 0 0 56.7 3H38.72a2.33 2.33 0 0 0-2.24 1.93L35.07 15a3.35 3.35 0 0 1-1.86 2.55 34.56 34.56 0 0 0-4.52 2.64 3.38 3.38 0 0 1-3.2.37l-9.43-3.8a2.27 2.27 0 0 0-2.76.96L4.31 33.28a2.27 2.27 0 0 0 .5 2.88l8.03 6.3a3.36 3.36 0 0 1 1.27 2.94 28.68 28.68 0 0 0 0 5.22 3.38 3.38 0 0 1-1.26 2.96L4.82 59.9a2.27 2.27 0 0 0-.51 2.9l8.99 15.55a2.27 2.27 0 0 0 2.76.97l9.43-3.8a3.36 3.36 0 0 1 3.17.36c1.43 1 2.94 1.88 4.51 2.64a3.38 3.38 0 0 1 1.9 2.57l1.4 10.05A2.34 2.34 0 0 0 38.73 93H56.7a2.33 2.33 0 0 0 2.24-1.93L60.36 81a3.35 3.35 0 0 1 1.85-2.55 34.55 34.55 0 0 0 4.53-2.64 3.38 3.38 0 0 1 3.19-.37l9.43 3.8a2.27 2.27 0 0 0 2.76-.96l8.99-15.56a2.27 2.27 0 0 0-.52-2.9l-9.5-7.45Zm2.75 10.23-6.67-5.24a6.34 6.34 0 0 1-2.37-5.88 26.13 26.13 0 0 0 .17-5.57 9.72 9.72 0 0 1 3.66-8.47l5.22-4.1-5.44-9.43-6.12 2.47a9.7 9.7 0 0 1-9.17-1.04 26.28 26.28 0 0 0-3.63-2.13 9.72 9.72 0 0 1-5.42-7.39v-.02l-.91-6.46h-10.9l-.92 6.53v.01a9.7 9.7 0 0 1-5.36 7.38 28.2 28.2 0 0 0-3.7 2.14 9.73 9.73 0 0 1-9.14 1.05l-.02-.01L17 23.98l-5.44 9.42 5.18 4.07a9.7 9.7 0 0 1 3.68 8.46v.04a22.35 22.35 0 0 0 0 4.09 9.72 9.72 0 0 1-3.63 8.49l-.02.01-5.22 4.1 5.45 9.42 6.1-2.46h.01a9.7 9.7 0 0 1 9.17 1.04h.01c1.15.81 2.36 1.52 3.62 2.13a9.72 9.72 0 0 1 5.42 7.39v.02l.91 6.46h10.9l.92-6.53a9.7 9.7 0 0 1 5.37-7.39 28.2 28.2 0 0 0 3.69-2.15 9.73 9.73 0 0 1 9.14-1.04l.03.01 6.11 2.46 5.44-9.42Z"
                fill-rule="evenodd"/>
          <path clip-rule="evenodd"
                d="M47.81 58.3a10.3 10.3 0 1 0 0-20.6 10.3 10.3 0 0 0 0 20.6Zm0 5.96a16.26 16.26 0 1 0 0-32.52 16.26 16.26 0 0 0 0 32.52Z"
                fill-rule="evenodd"/>
        </symbol>

        <!-- folder -->
        <symbol id="icon_folder" viewBox="0 0 96 96">
            <path clip-rule="evenodd"
              d="M13.5 18C12.3065 18 11.1619 18.4741 10.318 19.318C9.47411 20.1619 9 21.3065 9 22.5V73.5C9 74.6935 9.47411 75.8381 10.318 76.682C11.1619 77.5259 12.3065 78 13.5 78H82.5C83.6935 78 84.8381 77.5259 85.682 76.682C86.5259 75.8381 87 74.6935 87 73.5V28.5C87 27.3065 86.5259 26.1619 85.682 25.318C84.8381 24.4741 83.6935 24 82.5 24H41.2706C39.1975 23.9999 37.1707 23.3862 35.4459 22.2362C35.4458 22.2361 35.446 22.2362 35.4459 22.2362L30.2259 18.7562C29.4867 18.2632 28.6179 18 27.7294 18C27.7293 18 27.7294 18 27.7294 18H13.5ZM6.07538 15.0754C8.04451 13.1062 10.7152 12 13.5 12H27.7294C29.8025 12.0001 31.8293 12.6138 33.5541 13.7638C33.5542 13.7639 33.554 13.7638 33.5541 13.7638L38.7741 17.2438C39.5133 17.7368 40.3821 18 41.2706 18C41.2707 18 41.2706 18 41.2706 18H82.5C85.2848 18 87.9555 19.1062 89.9246 21.0754C91.8938 23.0445 93 25.7152 93 28.5V73.5C93 76.2848 91.8938 78.9555 89.9246 80.9246C87.9555 82.8938 85.2848 84 82.5 84H13.5C10.7152 84 8.04451 82.8938 6.07538 80.9246C4.10625 78.9555 3 76.2848 3 73.5V22.5C3 19.7152 4.10625 17.0445 6.07538 15.0754Z"
              fill-rule="evenodd"/>
            <path clip-rule="evenodd"
              d="M3 36C3 34.3431 4.34315 33 6 33H90C91.6569 33 93 34.3431 93 36C93 37.6569 91.6569 39 90 39H6C4.34315 39 3 37.6569 3 36Z"
              fill-rule="evenodd"/>
        </symbol>

        <!-- icon_arrow_narrow_left -->
        <symbol id="icon_arrow_narrow_left" viewBox="0 0 24 24">
            <path d="M20 12H4M4 12L10 18M4 12L10 6" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <!-- icon_arrow_narrow_right -->
        <symbol id="icon_arrow_narrow_right" viewBox="0 0 24 24">
            <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 12-6-6m6 6-6 6m6-6H5"/>
        </symbol>

        <!-- icon_trash -->
        <symbol id="icon_trash" viewBox="0 0 24 24">
            <path fill="#EA5455" d="M20 6h-3.155a.949.949 0 0 0-.064-.125l-1.7-2.124A1.989 1.989 0 0 0 13.519 3h-3.038a1.987 1.987 0 0 0-1.562.75l-1.7 2.125A.949.949 0 0 0 7.155 6H4a1 1 0 0 0 0 2h1v11a2 2 0 0 0 1.994 2h10.011A2 2 0 0 0 19 19V8h1a1 1 0 0 0 0-2zm-9.519-1h3.038l.8 1H9.681zm6.524 14H7V8h10z"/>
            <path fill="#EA5455" d="M14 18a1 1 0 0 1-1-1v-7a1 1 0 0 1 2 0v7a1 1 0 0 1-1 1zM10 18a1 1 0 0 1-1-1v-7a1 1 0 0 1 2 0v7a1 1 0 0 1-1 1z"/>
        </symbol>
      </defs>
    </svg>
</template>
  