<script setup lang="ts">
defineProps<{
    name?: string;
    size?: string;
    fillable?: string;
    weight?: string;
}>()
</script>

<template>
<svg class="icon" :class="['icon-' + name, size, fillable, weight]">
    <use :xlink:href="'#icon_' + name" />
</svg>
</template>

<style lang="scss" scoped>
svg.icon {
  width: 1em;
  height: 1em;
  fill: #777;
  flex-shrink: 0;

  &.nofill {
    fill: none;
  }

  &.tiny {
    width: 0.6em;
    height: 0.6em;
  }

  &.small {
    width: 0.8em;
    height: 0.8em;
  }

  &.medium {
    width: 1.2em;
    height: 1.2em;

    &.light {
      stroke-width: 0.125em;
    }

    &.bold {
      stroke-width: 0.5em;
    }
  }

  &.big {
    width: 1.5em;
    height: 1.5em;
  }

  &.huge {
    width: 2em;
    height: 2em;
  }
}
</style>
