<script lang="ts" setup>
import TheCustomizer from '@/@core/components/TheCustomizer.vue';
</script>
<template>
    <main class="layout__wrapper">
        <header>PVN Test</header>
        <div class="layout__wrapper--content">
            <RouterView />
        </div> 
        <footer>Footer</footer>
        <TheCustomizer/>
    </main>
</template>

<style lang="scss" scoped>
.layout__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    row-gap: 1rem;


    header {
        background-color: var(--primary-color);
        color: var(--on-primary);
        padding: 20px;
        text-align: center;
    }

    &--content {
        flex-grow: 1;
    }

    footer {
        padding: 20px;
        background-color: var(--primary-color);
        color: var(--on-primary);
        text-align: center;
    }
}
</style>