<script lang="ts" setup>
import { useTheme } from '@core/composable/useTheme'
const { staticPrimaryColor, themeColor, setPrimaryColor } = useTheme();

const colors = [staticPrimaryColor, '#ff4b51', '#16b1ff'];

const isOpenDrawer = ref(false);
</script>

<template>
    <button @click="isOpenDrawer =! isOpenDrawer" class="btn-customizer">
      <Icon name="settings" size="medium"/>
    </button>
    <nav class="navigation-drawer" :class="{opened: isOpenDrawer}">
        <div class="navigation-drawer__content">
          <div class="customizer-heading">
            <h3>Theme Customizer</h3>
            <div class="customizer-heading__action" @click="isOpenDrawer =! isOpenDrawer">Hide Drawer</div>
          </div>
          <div>
            <div class="customizer-section">
              <h4>Primary color</h4>
              <div class="customizer-color-picker">
                <div
                v-for="color in colors"
                  :key="color"
                  class="primary-color-wrapper"
                  :class="{active: themeColor === color}"
                  :style="{borderColor: themeColor === color ? color : ''}"
                  >
                  <div 
                  style="border-radius: 0.5rem; block-size: 2rem; inline-size: 2rem;"
                  :style="{backgroundColor: color}"
                  @click="setPrimaryColor(color)"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </nav>
</template>
<style lang="scss" scoped>
.btn-customizer {
  width: 38px;
  height: 38px;
  position: fixed;
  right: 0;
  top: 20%;
  background-color: var(--primary-color);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  border: none;
  box-shadow: 0 2px 6px rgba(var(----primary-color), .3);
  line-height: 44px;
  cursor: pointer;
  svg {
    fill: #fff
  }
}

.navigation-drawer {
  right: -300px;
  z-index: 1004;
  transform: translateX(0%);
  position: fixed;
  height: calc(100% + 0px);
  top: 0px;
  bottom: 0px;
  width: 300px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(47, 43, 61, 0.18), 0 0 transparent, 0 0 transparent;
  transition-duration: .5s;
  &.opened {
    right: 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .customizer-heading {
      padding-block: 1rem;
      padding-inline: 1.5rem;
      border-bottom: 1px solid var(--border-color);
      &__action {
        text-decoration: underline;
        cursor: pointer;
      }
      h3 {
        margin: 0 0;;
        font-size: .9375rem;
      }
    }

    .customizer-section {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      gap: 1rem;
      h4 {
        margin: 0 0;
        color: var(--grey-700);
        font-weight: 500;
      }
    }

    .customizer-color-picker {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      .primary-color-wrapper {
        border-radius: 0.5rem;
        border: 1px solid var(--border-color);
        padding-block: 0.5rem;
        padding-inline: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
</style>